/* Main */
body {
    color: #fff;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    line-height: 1.4;
    box-sizing: border-box;
    background-color: #C55E5E;
}

.title {
    text-align: center;
}

input::placeholder {
    font-size: 1.2em;
}

/* Side Menu */
#hamburger-menu {
    position: absolute;
    top: 1em; left: 1em;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b3302d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2em;
}

.sidenav .closebtn {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    transition: color 0.15s ease-in;
}

.sidenav .closebtn:hover {
    color: #fff;
}

/* Settings and Modal */
.settings {
    position: absolute;
    top: 0.4em;
    left: 0.5em;
    cursor: pointer;
    transition: 0.7s;
}

.settings:hover {
    transform: scale(1.25);
}

.modal {
    color: #000;
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .6);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 5% auto;
    padding: 1em;
    width: 40%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2), 0 7px 20px 0 rgba(0, 0, 0, .17) ;
    animation-name: modalOpen;
    animation-duration: 1s;
}

.modal-close-btn {
    color: #ccc;
    float: right;
    font-size: 1.5em;
    transition: color;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input[type=text] {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1em;
    margin-bottom: 0.7em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content input[type=submit] {
    font-size: 1em;
    width: 100%;
    background-color: #46c267;
    color: #fff;
    padding: 0.7em;
    margin: 0.5em 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#date {
    text-align: center;
}

/* Pomodoro */
#pomodoro {
    position: relative;
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
}

.pomodoro-count {
    padding-top: .5em;
    padding-right: .5em;
    text-align: right;
    font-size: 0.75em;
}

#timer {
    width: 100%;
    font-size: 3em;
    text-align: center;
}

#pomodoro button {
    padding: 0.5em 2em;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    margin: 1em 0;
}

.timer-buttons {
   display: block;
   width: 200px;
   margin: 0 auto;   
}

.timer-buttons button {
    background-color: #C55E5E;
    cursor: pointer;
}

.timer-buttons button:hover {
    background-color: #b3302d;
}

/* Disabled buttons */
.timer-buttons .disabled-btn {
    opacity: 50%;
    cursor: not-allowed;
}

@keyframes modalOpen {
    from {opacity: 0}
    to {opacity: 1}
}